body {
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.app-container {
  width: 300px;
  height: 400px;
  background: #2b3b4b;
  /* border: 1px solid red; */
  border-radius: 10px;
  box-shadow: 10px 10px 32px rgb(100, 105, 110);
}

.temprature-display-container {
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
}

.temprature-display {
  height: 220px;
  width: 220px;
  border-radius: 50%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 42px;
  border: 3px #fff solid;
  transition: background 2.5s;
}

.btn-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* border: 1px solid red; */
}

button {
  height: 70px;
  width: 70px;
  font-size: 32px;
  border-radius: 100px;
}

button:hover {
  background: #bbb;
  cursor: pointer;
}

button:focus {
  outline: 0;
}

.neutral {
  background: #888;
}

.cold {
  background: #035aa5;
}

.hot {
  background: #f70;
}